<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a class="footer-nav-item" href="{{ site.baseurl }}/">mBEDed µSystems</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/docs/">When</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/blog/">What</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/community/">Watch</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/apps/">Why</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/releases/">Which</a>
      <!--<a class="footer-nav-item" href="https://discuss.atom.io/c/electron">Discuss</a>
      <a class="footer-nav-item" href="https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a>-->
      <a class="footer-nav-item" href="https://github.com/mBEDed/mBEDed.github.io">Repo</a>
    </nav>
    <span class="footer-love">
      <a href='https://github.com' class="no-underline"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by <span class='octicon octicon-logo-github'></span></a>
    </span>
  </div>
</footer>
