<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta content='#2f3241' name='theme-color' />
  <link rel='shortcut icon' href='{{ site.baseurl }}/images/favicon.ico'/>
  <link rel='stylesheet' href='{{ site.baseurl }}/css/index.css'>
  <link rel="manifest" href='{{ site.baseurl }}/js/manifest.json'>
  <meta name="google-site-verification" content="CSlj0nspOURDZJ60Y3QyDzKv68v0pDpVGGBThVVHIQk" />

  {% seo %}
  {% feed_meta %}

     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N98ZMZ793J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N98ZMZ793J');
  
  </script>
</head>
